colorama==0.4.6
commonmark==0.9.1
fonttools==4.52.4
idna==3.6
kiwisolver==1.4.5
MarkupSafe==2.1.5
mdurl==0.1.2
numpy==1.26.4
packaging==24.0
pillow==10.3.0
pycparser==2.21
pyfiglet==1.0.2
Pygments==2.17.2
pyparsing==3.1.2
pystyle==2.9
python-dateutil==2.9.0.post0
pytz==2024.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
six==1.16.0
tabulate==0.9.0
tqdm==4.66.4
typing_extensions==4.10.0
urllib3==2.2.1
zope.interface==7.0.1
